<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ManagementCenterContext" connectionString="metadata=res://*/ManagementCenter.ManagementCenterModel.csdl|res://*/ManagementCenter.ManagementCenterModel.ssdl|res://*/ManagementCenter.ManagementCenterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DVD-PC\SQLSERVER;initial catalog=AsiTechManagementCenter;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OrdersCenterContext" connectionString="metadata=res://*/OrdersCenter.OrdersCenterModel.csdl|res://*/OrdersCenter.OrdersCenterModel.ssdl|res://*/OrdersCenter.OrdersCenterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DVD-PC;initial catalog=AsiTechOrderCenter;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>