<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="ManagementCenterContext" connectionString="metadata=res://*/ManagementCenter.ManagementCenterModel.csdl|res://*/ManagementCenter.ManagementCenterModel.ssdl|res://*/ManagementCenter.ManagementCenterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DVD-PC\SQLSERVER;initial catalog=AsiTechManagementCenter;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.serviceModel>
    <client>
      <endpoint address="net.msmq://joaoportatil/private/NotificationsMessageQueue"
        binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_INotificationService"
        contract="AsiTech.Services.Notification.INotificationService"
        name="NetMsmqBinding_INotificationService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <services>
      <service name="Management.Service.ManagementService">
        <endpoint address="net.msmq://JoaoPORTATIL/private/CustomerOrderMessageQueue"
          binding="netMsmqBinding" bindingConfiguration="msmqBinding"
          contract="Management.Service.ICustomerOrderReceiverService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="/orders/"
          binding="basicHttpBinding" contract="Management.Service.ICustomerOrderService" />
        <endpoint address="/customers/"
          binding="basicHttpBinding" contract="Management.Service.ICustomerService" />
        <endpoint address="/suppliers/"
          binding="basicHttpBinding" contract="Management.Service.ISuppliersService" />
        <endpoint address="/products/"
          binding="basicHttpBinding" contract="Management.Service.IProductService" />
        <endpoint address="/" binding="mexHttpBinding"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/management-ws/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netMsmqBinding>
          <binding name="msmqBinding">
            <security mode="None">
              <transport msmqAuthenticationMode="None" msmqProtectionLevel="None" />
            </security>
          </binding>
        <binding name="NetMsmqBinding_INotificationService">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>